@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bonheur+Royale&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Dancing+Script:wght@400..700&family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header
{
    height:34vw;
    margin: 30px auto;
    margin-left:110px;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position:relative;
}
.header-search-content-wrapper
{
    width:97rem;
    margin-right:3rem;
   height:500px; background-color: #ffffff;
   
   opacity:2
}
.show-city-wrapper
{
     width:97rem;
    margin-right:3rem;
   height:500px; background-color: #ffffff;
   
   opacity:2
}
.show-city-content
{
     display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    width:20px;
    height:20px;
    border-radius: 9px solid rgb(243, 198, 184);
    z-index:3;
    margin-left:10px;
    list-style: none;
   
}
.show-city-content-li
{
    padding:20px;
    width:200px;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(227, 109, 109, 1) 0%, rgba(252, 176, 69, 1) 100%);
}
.header-search-content
{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap:10px;
    width:20px;
    height:20px;
    z-index:3;
    margin-left:10px;
   
}
.header-contents 
{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items: start;
    gap:1.5vw;
    max-width:50%;
    bottom: 30%;
    left:6vw;
    animation: fadeIn 3s;
    z-index: -1;
  
}
.header-contents h2{
 
     font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size:30px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    color:white;
    font-size:max(4,5w,22px);
}
.header-contents p{
    color:white;
    font-size:1vw;
      font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size:px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.header-contents button{
    border:none;
    border-radius: 20px;
    color:#747474;
    font-weight:500;
    padding:1vw 2.3vw;
    background-color: white;
    font-size:max(1vw,13px);
    

}
@media (max-width:750px)
{
   
    .header-contents{
        max-width:65%;
    }
    .header-contents p


    {
       display:none; 
    }
    .header-contents button 
    {
        padding:2vw 4vw;
    }
}