.place-order
{
    display:flex;
    align-items: start;
    justify-content: space-between;
    gap:50px;
    margin-top:100px;
    font-family: 'Poppins', sans-serif;
}
.place-order-left
{
    width:100%;
    max-width:max(30%,500px);
    font-family: 'Poppins', sans-serif;
}.place-order-left .title
{
    font-size: 30px;
    font-weight: 600;
    margin-bottom:50px;
    font-family: 'Poppins', sans-serif;


}
.place-order-left input
{
    margin-bottom:15px;
    width:100%;
    padding:10px;
    border:1px solid #c5c5c5;
    border-radius:4px;
    outline:none;
    font-family: 'Poppins', sans-serif;

}
.place-order-left .multi-fields
{
    display:flex;
    gap:10px;
       
}
.place-order-right 

{
    width:100%;
    max-width:max(40%,500px);
}
.place-order .cart-total button{
    margin-top:30px;
    font-family: 'Poppins', sans-serif;
    padding:50px 50px
}
.place-order-submit
{
   padding:10px 50px;
   background-color:tomato;
   border:1px solid gray;
   border-radius:2px
}